body{
    margin:0px;
    color: white;
}

.bkg{
    background-image: url('camera3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

h1{
    color: white !important;
}

@font-face {
    font-family: heading1; 
    src: url("/font-styles/junegull.ttf");
}
 
/* .bkg::after{
    position: absolute;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.216);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.536);
    z-index: 100;
    border-radius: 20px;
    width: 600px;
    height: 70%;
    box-shadow: 5x 5px white;
    padding: 10px;
    padding-bottom: 15px !important;
}
.container h1{
    text-align: center;
    margin-bottom: 10%; 
    color: white;
    text-decoration: underline 4px;
    text-underline-offset: 7px;
    text-decoration-color: aqua;
}

input{
    width: 90%;
    margin-left: 4%;
    padding: 10px 5px;
    margin-bottom: 5%;
    background-color: white;
    border: white;
    border-radius: 5px;
}

input[type="submit"]{
    /* margin-left: 8px;
    text-align: center; */
    width: 92%;
    margin-left: 4%;
    padding: 10px 5px;
    margin-bottom: 5%;
    background-color: white;
    border: white;  
    border: 20px;
    border-radius: 5px;
    background-color: #228cdc;
}

input[type="submit"]:hover{
    background-color:  #61a4d8;
}

.forgot_password a{
    margin-left: 4%;
    color: rgb(202, 118, 202);
}

.orlogin_box>p{
    text-align: center;
    text-decoration: solid black;
    margin: 5px 0px;
}

.facebook button,.instagram button{
    margin-left: 4%;
}

.social_media{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 10px;  
    margin-left: 2%; 
}
.facebook button,.instagram button
{
    border: 1.5px solid black;
    width: 90%;
    text-align: center;
    padding: 10px 5px;
    margin-right: 9%; 
    border-radius: 5px;
}

.facebook button{
    background-color: rgb(49, 49, 208);
    margin-left: 4%;

}

.facebook button:hover{
    background-color: rgb(84, 84, 209);
    margin-left: 4%;

}

.instagram button{
    background-color: rgb(227, 48, 48);
}

.instagram button:hover{
    background-color: rgb(230, 94, 94);
}

.signup p{
    text-align: center;
}

.signup p a{
    color: rgb(141, 141, 248);
}

.text_box p img{
    position: relative;
    top: 0px;
}
.text_box p {
    position: relative;
    top: 12px;
    left: 4%;
}

h1,p{
    color: white;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: 'Poppins',sans-serif;
}

.divide{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 0px;

}

.left_side{
    border-right: white 2px solid;
    padding-right: 5px;
}

.right_side{
    border-left: white 2px solid;
    padding-right: 5px; 
}

.vertical_line{
    border-left: 4px solid white;
    height: 400px;
    position: relative;
    left: 50%;
}